<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Joel Reymont" />
   <link href="http://feeds.feedburner.com/thinkerlang" rel="alternate" title="The Erlang Journal" type="application/atom+xml" />

   <!-- CodeRay syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/coderay.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">The Erlang Journal</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Joel Reymont<br />
        Author of <a href="http://github.com/wagerlabs/openpoker/tree/master">OpenPoker</a><br />
        joelr1@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://wagerlabs.com/">wagerlabs.com</a><br />
        <a href="http://twitter.com/wagerlabs/">twitter.com/wagerlabs</a><br />
        <a href="http://flickr.com/photos/joelr1/">flickr.com/photos/joelr1</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/thinkerlang">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-87992-5");
pageTracker._trackPageview();
</script>

</body>
</html>
